Design how binary data will be stored/retrieved

See section 6 in RFC 8620. I was thinking for now, we just use files for storing the binary data. This feature should be very well tested. It should use the values stored in our Config file to determine if uploads/downloads are within bounds and are in the correct format. It should be at a different API URL, the ones listed in the Config file.